#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.containerWeb {
  margin: 0;
  margin-right: 0;
  padding: 0;
  padding-right: 0;
  width: 100%;
  height: 800;
}